<h2>レビュー</h2>

<%= form_with model: @post do |f| %>
  <p>
    <strong>メニュー名:</strong><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <strong>感想:</strong><br>
    <%= f.text_area :body %>
  </p>
  <%= f.submit '投稿', class:"btn-secondary btn-danger mt-4" %>
<% end %>

<% if @post.id %>
  <%= link_to "編集", edit_post_path(@post) %>
<% end %>
|
<%= link_to "戻る", posts_path(@post) %>
