<!DOCTYPE html>
<html>
  <head>
    <title>Ramendou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0db50f54a7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/"><%= image_tag('ramen.logo.png') %></a>
        <ul class="navbar-nav ml-auto">
          <% if member_signed_in? %>
          <li>
            <%= link_to root_path, class:"nav-link text-dark" do %>
              <i class="fa-solid fa-home"></i>
              トップ
            <% end %>
          </li>
          <li>
            <%= link_to member_path(current_member), class:"nav-link text-dark" do %>
              <i class="fa-solid fa-users"></i>
              マイページ
            <% end %>
          </li>
          <li>
            <%= link_to new_post_path, class:"nav-link text-dark" do %>
              <i class="fa-solid fa-pen-to-square"></i>
              レビューする
            <% end %>
          </li>
          <li>
            <%= link_to posts_path, class:"nav-link text-dark" do %>
              <i class="fa-solid fa-pen-to-square"></i>
              投稿一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_member_session_path, class:"nav-link text-dark", method: :delete do %>
              <i class="fa-solid fa-sign-out-alt"></i>
              ログアウト
            <% end %> 
          </li>
          <% else %>
          <li>
            <%= link_to root_path, class:"nav-link text-dark" do %>
              <i class="fa-solid fa-home"></i>
              トップ
            <% end %>
          </li>

          <li>
            <%= link_to about_path, class:"nav-link text-dark" do %>
              <i class="fa-solid fa-link"></i>
              アバウト
            <% end %>
          </li>

          <li>
            <%= link_to new_member_registration_path, class:"nav-link text-dark" do %>
              <i class="fa-solid fa-user-plus"></i>
              新規登録
            <% end %>
          </li>

          <li>
            <%= link_to new_member_session_path, class:"nav-link text-dark" do %>
              <i class="fa-solid fa-sign-in-alt"></i>
              ログイン
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
    </header>
    <%= yield %>
  </body>
</html>
